.github-markdown-body {
  font-size: 19px;
  line-height: 1.6;
}

/*  */
.github-markdown-body pre,
.github-markdown-body code {
  font-size: 17px;
}

/* 避免用 i, ii, vii, 另個選項：lower-alpha */
ol {
  list-style-type: decimal;
}